server:
  port: 8761

spring:
  application:
    name: eureka-server
  main:
    web-application-type: servlet

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 5000
    enable-self-preservation: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.netflix: WARN
    org.springframework.cloud: DEBUG
