server:
  port: 8083

spring:
  application:
    name: movie-service
  main:
    web-application-type: servlet
  datasource:
    # Конфигурация для Railway
    # Railway автоматически предоставляет переменные окружения:
    # PGHOST, PGPORT, PGDATABASE, PGUSER, PGPASSWORD
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/${PGDATABASE:Java_pr}
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SPRING_JPA_SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.movieservice: DEBUG
    org.springframework.cloud: DEBUG
    org.springframework.web: DEBUG

# Отключаем Spring Cloud Config для Movie Service
spring.cloud.config.enabled: false